# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code::Blocks
*.cbp
/*.layout

# CMake
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile

# Unversioned files
.idea/
/cmake-build-debug-clang-c17/
/cmake-build-debug-clang-c20/
/cmake-build-debug-gcc-c17/
/cmake-build-debug-gcc-c20/
